body {
  z-index: 1;
  background: url("http://i.imgur.com/PQVitmm.gif");*/
}

#header {
  color: black;
  text-align: left;
  background-color: rgba(250,250,250,0.5);
  height: 90px;
  padding-top: 30px;
  position: fixed;
  padding-left: 10%;
  font-family: 'Press Start 2P', cursive;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0px 0 20px 40px;
  float: left;
  line-height: 34px;
  width: 70%;
}

#header h1 {
  margin: 0;
  display: inline-block;
  font-size: 30px;
}

#header h2 {
  margin: 0;
  font-size: 10px;
  clear: both;
}

#wrapper {
  position: absolute;
  top: 121px;
  margin-left: 40px;
  background-color: white;
  border-style: solid;
  border-width: 0 1px;
  width: 80%;
  background-color: rgba(250,250,250,0.5);
}
#small-wrapper {
  float: left;
  font-family: 'Press Start 2P', cursive;
}

.left {
  background-color: white;
  border-style: solid;
  border-width: 0 1px 0 1px;
  width: 22%;
  background-color: rgba(250,250,250,0.5);

}

.left img{
  height: 180px;
  text-align: center;
  margin: 20px 0 0px 20px;
}
.left p{
  text-align: center;
  position: relative;
  top: -5px;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  margin: 0;
}

.right span{
  float: right;
  margin-right: 10px;
}

.right {
  background-color: rgba(250,250,250,0.3);
  border: none;
  padding-left: 50px;
  width: 71%;
  line-height: 0;
  overflow: auto;
  height: 550px;
}

h3 {
  font-size: 18px;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 10px 0 5px 0;
}

#header img {
  height: 40px;
  margin: 0;
  position: absolute;
  top: 21px;
}

h2 {
  font-size: 6px;
  font-style: none;
}

h4 {
  font-size: 16px;
  font-family: arial;
}

p {
  font-size: 15px;
  font-family: arial;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}


ul {
    width: 100%; 
    list-style: none; 
    margin: 0;
    padding: 0; 
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}
li ul {
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-left: 165px; /* Сдвигаем подменю вправо */
    margin-top: -2em; /* Сдвигаем подменю вверх */
}

li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 15px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: black; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: rgba(250,250,250,0.5); /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
    text-align: center;
}
li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #ddc1f2; /* Цвет фона активного пункта */
}
@keyframes move {
    0% {margin-left: 0px; margin-right: 0px;}
    50% {margin-left: -2.5px; margin-right: -2.5px; color:#75d899;}
    100% {margin-left: 0px; margin-right: 0px;}
}
li a:hover {
    animation-name: move;
    /* Задержка до начала анимации */
    animation-delay: 0s;
    /* Длительность анимации */
    animation-duration: 2s;
}
li:hover ul {
    display: block; /* Делает видимым блок с меню путем подмены состояния отображения display:none на display:block */
}
li:last-child {
    border-bottom: 1px solid #ccc; /* Нижняя линия у последнего пункта меню */
}
